/*QWidget#home {*/
/*background-color: #222222;*/
/*}*/

QLabel {
    color: #474747;
}

QPushButton {
    background-color: #39668b;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    height: 25px;
    font-size: 14px;
}

QTableView, QTableWidget {
    selection-background-color: #dbdada;
    font-size: 12px;
    background-color: white;
    border: 1px solid #E0DDDC;
    gridline-color: lightgray;
}

QHeaderView::section {
    background-color: white;
    border: 0px solid #E0DDDC;
    border-bottom: 1px solid #E0DDDC;
    height: 20px;
}
