/*QWidget#home {*/
/*background-color: #222222;*/
/*}*/

QLabel {
    color: #474747;
}

QLabel#bookshelf {
    color: #474747;
    font-size: 14px;
}

QLabel#lable_chapter, QLabel#label_chapter {
    font-family: SansSerif;
    font-size: 12px;
    background-color: white;
    /*color: black;*/
}

QPushButton {
    background-color: #39668b;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    height: 26px;
    font-size: 13px;
}

QTableView, QTableWidget {
    selection-background-color: #dbdada;
    font-family: SansSerif;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid #E0DDDC;
    gridline-color: lightgray;
}

QHeaderView::section {
    background-color: white;
    border: 0px solid #E0DDDC;
    border-bottom: 1px solid #E0DDDC;
    height: 20px;
    font-size: 13px;
}
